<main>
    <div class="container">
        <h2 class="tc mv-30px">
            Some Header
        </h2>
        <p class="mv-30px">
            Informationen zum Projekt:
        </p>
        <p class="mb-30px">
            In der litauischen Stadt Druskininkai – einem kleinen Kurort an der Memel – befindet sich
            ein weißrussisches Sanatorium namens „Belorus”. Das Sanatorium entstand noch zur Zeit der
            Sowjetunion, so dass es heute zwar auf litauischem Boden steht, jedoch dem weißrussischen Staat angehört.
        </p>

        <div>
            <div class="text-with-image flex justify-between mb-30px">
                <p class="pt-40px text-with-image--first">
                    In dieser Reha-Klinik werden jährlich bis zu 4000 kranke weißrussische Kinder behandelt.
                    Viele von ihnen kommen aus Gebieten, die von der Tschernobyl-Katastrophe immer noch betroffen sind.
                </p>
                <div class="home-image-1">
                </div>
            </div>
            <div class="text-with-image flex flex-row-reverse justify-between mb-30px">
                <p class="pt-25px text-with-image--second">
                    Von diesen 4000 Kindern haben ca. 500 Kinder schwere Behinderungen und werden deshalb von ihren
                    Müttern, ganz selten von ihren Vätern, begleitet. Die meisten dieser Kinder leiden an infantiler
                    Cerebralparese (Bewegungsstörungen, deren Ursache in einer frühkindlichen Hirnschädigung liegt).
                </p>
                <div class="home-image-2">
                </div>
            </div>
        </div>

        <p class="mb-30px">
            Für diese Kinder wird dringend Unterstützung benötigt.
        </p>
        <p class="mb-30px">
            <strong>
                Es fehlen vor allem
            </strong>
        </p>

        <ul class="mb-30px">
            <li>
                kindgerechte Rollstühle,
            </li>
            <li>
                Rollatoren für Kinder,
            </li>
            <li>
                Gehhilfen für Kinder,
            </li>
            <li>
                Kinderwagen für Körperbehinderte,
            </li>
            <li>
                behindertengerechtes Spielzeug,
            </li>
            <li>
                Rehabilitationshilfen aller Art.
            </li>
        </ul>

        <p class="mb-30px">
            Nach der Behandlung im Sanatorium können die kleinen weißrussischen Patienten,
            die gespendeten Rehabilitationsmittel mit nach Hause nehmen, wenn die Spender dieses erlauben.
        </p>
        <p class="mb-30px">
            Wir bitten alle, die sich gerne für die kranken Kinder engagieren möchten, entweder um Geldspenden
            oder – wenn es Ihnen möglich ist – um die Spende der oben genannten kindgerechten Hilfsmittel.
        </p>
        <p class="mb-30px">
            Wir bringen Ihre Spende selbst nach Litauen, so dass die Hilfe direkt bei den Kindern ankommt!
        </p>
    </div>
</main>
