<div class="contacts">
    <div class="container">
        <h2>Analytics</h2>

        <div #htmlData>
            <h3>Articles analytics</h3>
            <table>
                <tr>
                    <td>Author</td>
                    <td>Created</td>
                    <td>Updated</td>
                    <td>Title</td>
                </tr>
                <tr>
                    <td>Dmitrii Rakitin</td>
                    <td>2020-06-13</td>
                    <td>2020-06-13</td>
                    <td>Sony has finally unveiled the PS5’s design along with a host of games that will kick off a new generation described as a “paradigm shift”</td>
                </tr>
                <tr>
                    <td>Dmitrii Rakitin</td>
                    <td>2020-06-13</td>
                    <td>2020-06-13</td>
                    <td>Now you don't need to know any programming to launch a company. We've been approaching this moment for years. illustration of symbols on buildings ILLUSTRATION: ELENA LACEY</td>
                </tr>
                <tr>
                    <td>Johnny Rodgers</td>
                    <td>2020-06-13</td>
                    <td>2020-06-13</td>
                    <td>The Crew Dragon launched astronauts from US soil for the first time since the last Shuttle flight in 2011.</td>
                </tr>
            </table>
            <h3>Users analytics</h3>
            <table>
                <tr>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Email</td>
                    <td>Registered</td>
                </tr>
                <tr>
                    <td>Jon</td>
                    <td>Kelly</td>
                    <td>user.first@gmail.com</td>
                    <td>24.05.20</td>
                </tr>
                <tr>
                    <td>Grace</td>
                    <td>Wilson</td>
                    <td>user.second@gmail.com</td>
                    <td>24.05.20</td>
                </tr>
                <tr>
                    <td>firstName</td>
                    <td>lastName</td>
                    <td>user@gmail.com</td>
                    <td>17.06.20</td>
                </tr>
            </table>
        </div>

        <button #downloadbtn class="btn btn-download-report" type="button" (click)="download()">Download users report</button>
    </div>
</div>
